Q1 ans:
    
* : expression
'hello' : value
-87.8 : value
-  : expression
/ : expression
+ : expression
6 : value

Q2 ans:
    The difference between string and variable is as below:
        Variable is used to store a value and the value which is stored in variable can be integer,string ,list and so on. 
Value can be access in future with the help of variable. 
String is the oneof the datatype of value which is stored in variable.

Q3 ans:
    three differenData types are as follows:
1. Numerical Datatypes:
    Numerical datatypes holds the numerical values such as
    i. int : it holds siged integers with non limited length
        eg : a = 10
            
    ii. float : holds floating precision numbers and itâ€™s accurate up to 15 decimal places.
        eg:  b = 34.56
            
    iii. complex- holds complex numbers
        eg : c = 3+6j
            
2. String datatype:
    The string is a sequence of characters.
    Generally, strings are represented by either single or double-quotes 
    and also sometimes with tripple quotes.
    
    eg: s : "This is my first assigment of datascience class"
            
3. Sequence datatype:
    Sequence datatype contains list, tuple and range.
    i.list : 
        list is a interesting datatype in python. 
        It is same as array but it can hold different type of data in the same list.
       It is written with the squre brackets ([]) and the values are separated with the help of commas (,).
       
        eg : a = [1,2,3,'python']
    ii.tuple :
        The tuple is another data type which is a sequence of data similar to a list. 
        But it is immutable.
        Data in a tuple is written using parenthesis () and commas.
        
        eg : d = (1,3,4,6,'python')

Q4. What is an expression made up of? What do all expressions do?
ans:
    Expression is made of operands and operators.
    with the help of the expressions we are able get result using values.
    These expressions are interpreted by interpreter.

Q5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
ans:
    Expression in python is evaluated for some result.
    statements in pythonis not evaluate for results 
    Execution of statement changes the state of the variable
    The expresstion evaluation does not result in any state change.
    
    eg : spam = 10
        a = 20
        c = a + spam
        if we execute c expression then we get
             c = 20 + 10
             c = 30 
        and if we assign 40 to spam then 
            spam = 40
            c = 20 + 40
            c= 60

Q6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

ans:
    bacon = 23

In [2]:
bacon = 22
bacon + 1

23

Q7. What should the values of the following two terms be?

'spam' + 'spamspam'
'spam' * 3

ANS:
    'spam' + 'spamspam' = 'spamspamspam'
'spam' * 3 = 'spamspamspam'

In [6]:
'spam' + 'spamspam'

'spamspamspam'

In [7]:
'spam' * 3

'spamspamspam'

Q8. Why is eggs a valid variable name while 100 is invalid?
Ans:
 A variable name must start with a letter or the underscore character. A variable name cannot start with a number. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
 so eggs is valid variable name and 100 is invalid name

Q9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

ans :
    to get integer version of value int() funtion is used
     to get floating-point number version of value float() funtion is used
     to get string version of value str() funtion is used

Q10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
Ans:
    The above expression cause an error because in the above expression there is concatenation of string and the integer thats why it is giving error.
    As we can concatenate string with string only if we want to concat string with integer first we have convert integer in string format with str() function.
 'I have eaten ' + 99 + ' burritos.'
above expression error can befixed as follows

'I have eaten ' + str(99) + ' burritos.'

In [8]:
print('I have eaten ' + str(99) + ' burritos.')

I have eaten 99 burritos.